* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf

*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.patch text eol=lf whitespace=-blank-at-eol
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.ico binary
*.png binary
*.svg text eol=lf
